<div class="card">
  <p-table #dt [columns]="cols" [value]="products" [paginator]="true"
  [rows]="2" selectionMode="multiple" 
  [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[2, 5, 50]"
   [exportHeader]="'customExportHeader'" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="caption">
          <div class="flex">
              <button type="button" pButton label="Export to CSV" (click)="dt.exportCSV()" styleClass="p-button-sm"></button>
          </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of columns">
                  {{ col.header }}
              </th>
          </tr>
          <tr>
              <th *ngFor="let col of columns">

                <input pInputText type="text" (input)="dt.filter( $event.target.value,col.field, 'contains')">
            </th>
              
          </tr>
      </ng-template>
      
      <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
              <td *ngFor="let col of columns">
                  {{ rowData[col.field] }}
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>
